.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}
.entry-title {
	a {
		text-decoration: none;
		
		&:hover {
			text-decoration: underline;
		}
	}
}
.entry-meta {
	font-size: 0.8em;
	a {
		text-decoration: none;
	}
}
.entry-footer {
	font-size: 0.8em;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	
	a {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.containerized {
	@extend .container;
}

.wp-block-media-text {
	h3 {
		font-size: 3.57em;
		margin: 0;
	}
}

.wp-block-cover {

	h3,
	h4,
	h5,
	h6 {
		margin: 0;
	}

	&.aligncenter,
	.wp-block-cover__inner-container {
		@extend .container;

	}
}
.archive {
	.entry-title {
		margin-bottom:  0;
	}
}